body{
    background-color: darkgrey;
}

.start {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
 
  .endBtn{
    padding-top: 50px;
  }

  .play, .gameName{
    margin: 5px;
  }

  .start1{
    display: none;
  }

  .play:hover,.box1:hover,.box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover, .box8:hover, .box9:hover, .box10:hover, .box11:hover, .box12:hover{
    background-color: rgb(202, 211, 135);
    color: rgb(94, 72, 72);
  }
.mainDiv1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  
}

.mainDiv2{
    background-image: url(./gif/pikachu.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    display: block;
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    color:floralwhite;
}

.mainDiv3{
  background-image: url(./gif/charmander_dancing.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  display: block;
  flex-direction: column;
  padding-top: 20px;
  text-align: center;
  color:floralwhite;
}
.mainDiv4{
  background-image: url(./gif/aipom_pokemon.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  display: block;
  flex-direction: column;
  padding-top: 20px;
  text-align: center;
  color:floralwhite;
}


.boxes{
    display: block;
    gap: 1px;
}
.boxes2{
    display: none;
}
.boxG{
    background-image: url(./gif/espeon.gif);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 50px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
   background-color: rgb(125, 132, 75);
    cursor: pointer;
}
.boxP{
    background-image: url(./gif/charmander_shiny.gif);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 50px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
   background-color: rgb(125, 132, 75);
    cursor: pointer;
}
.box1,.box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12{
  
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 50px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
   background-color: rgb(125, 132, 75);
    cursor: pointer;
}

.win{
    display: none;
    font-style: oblique;
}

.reload,.dataStore{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    color: aliceblue;
    width: 100px;
    height: 50px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
   background-color: rgb(152, 103, 103);
    cursor: pointer;
}


footer {
    color: #fff;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
   
  }
  
  .container p {
    margin: 0;
  }
  
  ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }

  .divBox, .mainDiv{
    display: none;
  }

  .scoring{
    display: flex;
    justify-content: center;
   }
   .scoring1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
   }

.total, .round, .remainingBox{
    padding-left: 20px;
   
}
.abra{
    display: flex;
    justify-content: center;
}

.abra1{
  display: flex;
  justify-content: center;
  padding-left: 50px;
}
  
 
  